@charset "UTF-8";
@import 'functions_responsive.scss';

@font-face {
    font-family: A1MinChoStd;
    font-weight: bold;
    font-style: normal;
    src: url('../assets/plugins/fonts/A1MinchoStd-Bold.otf');
}
@font-face {
    font-family: MyWebFont;
    src: url('../assets/plugins/fonts/A1MinchoStd-Bold.eot'); /* IE9 Compat Modes */
    src: url('../assets/plugins/fonts/A1MinchoStd-Bold.eot?#iefix') format('embedded-opentype'),  IE6-IE8 
         url('../assets/plugins/fonts/A1MinchoStd-Bold.woff') format('woff'), /* Modern Browsers */
         url('../assets/plugins/fonts/A1MinchoStd-Bold.otf')  format('truetype'); /* Safari, Android, iOS */
}
/*==========
  FONTS-FAMILY
    font-family: A1MinChoStd;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Crimson Text', serif;
    ===========
*/
$c-main-color: #013e8d;
$c-gray: #666666;
$c-dark-purple: #002554;

.p-rel {
    position: relative;
}

/* ============
        header
 ============*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 8rem;
    padding: 4rem 5.5rem;
    z-index: 1030;
    @include mobile {
        height: 6rem;
        padding: 2rem;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 3.6rem;
        margin-right: auto;
        color: white;
        cursor: pointer;

        @include mobile {
            font-size: 3rem;
        }
    }

    button {
        // background-color: $c-main-color;
        border: .1rem solid $c-main-color;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.6rem;
        font-weight: bold;
        height: 4rem;
        width: 12rem;
        margin-right: 3rem;
        text-transform: uppercase;
        position: relative;
        z-index: 1030;
        transition: all .4s ease;
        overflow: hidden;

        @include mobile {
            width: 8rem;
            font-size: 1.4rem;
            height: 3rem;
            margin-right: 2rem;
        }
    }

    button::after,
    button::before {
        content: '';
        position: absolute;
        background-color: #002554;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        transition: all .3s ease;
    }

    button::after {
        transform: skew(45deg);
    }

    button:hover {
        color: #002554;
    }

    button:hover::after {
        left: 120%;
    }

    button:hover::before {
        background-color: white;
    }
}
.header.active{
    background-color: black;
}
/* ============
        subu-menu
 ============*/
.sub-menu {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    overflow-y: auto;
    height: 100vh;
    z-index: -1;

    .container {
        width: 100%;
        display: flex;
        margin: auto;
    }
}

.sub-menu.active {
    display: flex;
}

/* ============
        hambuger
 ============*/
.hambuger {
    display: flex;
    width: 4rem;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    position: relative;

    span {
        width: 100%;
        height: .2rem;
        background-color: $c-main-color;
        position: absolute;
        transition: all .3s ease;
    }

    span:nth-child(1) {
        top: .8rem;
    }

    span:nth-child(3) {
        bottom: .8rem;
    }
}

.hambuger.active {
    span:nth-child(1) {
        transform: rotate(45deg);
        top: 2rem;
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 1.8rem;
    }
}

/* ============
        mv
 ============*/
.mv {
    background-image: url(../images/img_banner.jpg);
    height: 93rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include ipadpro {
        height: 65rem;
    }

    &--title {
        display: block;
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        font-size: 8rem;
        font-weight: bold;
        font-family: A1MinChoStd;
        color: white;
        letter-spacing: 1.5rem;
        @include ipadpro {
            font-size: 6rem;
        }

        @include mobile {
            font-size: 3rem;
        }
    }
}

/* ============
        technical
 ============*/
.technical {
    width: 100%;
    background-color: white;

    .p-rel {
        min-height: 20rem;
    }

    .title {
        width: 100%;
        position: absolute;
        min-height: 35.5rem;
        background-color: white;
        bottom: 0;
        padding-top: 5rem;
        text-align: center;

        @include mobile {
            padding-top: 2rem;
            min-height: 22rem;
        }

        h2 {
            font-family: 'Crimson Text', serif;
            text-transform: uppercase;
            font-size: 6.4rem;
            color: $c-main-color;
            line-height: 1.6;
            margin-bottom: 4rem;

            span {
                font-family: 'Yu Gothic', serif;
                font-size: 2rem;
                display: block;
                color: $c-gray;
            }

            @include mobile {
                font-size: 3rem;
            }
        }

        p {
            font-size: 2rem;
            font-weight: bold;

            @include mobile {
                font-size: 1.4rem;
            }
        }
    }

    .project {
        display: flex;

        @include mobile {
            flex-wrap: wrap;
            padding: 2rem;
        }

        &-item {
            width: 100%;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            img {
                width: 100%;
                position: relative;

                @include mobile {
                    max-height: 40rem;
                    object-fit: cover;
                }
            }

            .l-mask::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                margin: auto;
                background-color: rgba($c-main-color, .8);
                transition: all .3s ease;
            }

            .w-abs {
                position: absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                transform: translateY(-50%);
                line-height: 1.2;

                span {
                    display: block;
                    color: white;
                    font-family: 'Crimson Text', serif;
                    letter-spacing: .2rem;
                }

                span:nth-child(1) {
                    font-size: 1.8rem;
                }

                span:nth-child(2) {
                    position: relative;
                    font-size: 6.4rem;
                    margin-bottom: 3rem;
                }

                span:nth-child(2):after {
                    content: '';
                    width: 1.5rem;
                    height: .2rem;
                    background-color: white;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: 0 auto;
                }

                h3 {
                    color: white;
                    font-size: 2.4rem;
                }
            }
        }

        &-item:hover {
            .l-mask::after {
                width: 60%;
                height: 50%;
            }
        }
    }
}

/* ============
        year-100
 ============*/
.year-100 {
    padding: 10rem 0;

    @include mobile {
        padding: 4rem 2rem;
    }

    .p-rel {
        text-align: center;

        button {
            border: none;
            outline: none;
            background-color: transparent;
            color: white;
            text-transform: uppercase;
            font-size: 1.6rem;
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            padding: 1rem;

            @include mobile {
                bottom: 1rem;
                display: block;
                padding-bottom: .6rem;
                margin-top: 4rem;
            }
        }

        button:after {
            content: '';
            position: absolute;
            width: 3rem;
            height: .2rem;
            border-bottom: .2rem solid white;
            top: -1.2rem;
            left: 1rem;
            transition: all .3s ease;

            @include mobile {
                top: -1rem;
            }
        }

        button:hover::after {
            width: 100%;
            height: 1rem;
            background-color: transparent;
            border-bottom: .2rem solid white;
            border-right: .4rem solid white;
            transform: skew(45deg);
            left: 0;
            margin-right: 4rem;
        }
    }

    .p-rel>div {
        // display: flex;
        display: block;
        min-height: 30rem;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 9rem 0;
        background-image: url(../images/img_year.jpg);
        height: 100%;
        max-height: 30rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        span {
            width: 100%;
            color: white;
            display: block;
            text-align: center;
            letter-spacing: .2rem;
            
            @include mobile {
                position: relative;
                transform: translateY(0);
                // color: #333333;
                margin-top: 2rem;
            }
        }

        span:nth-of-type(1) {
            font-size: 4.5rem;
            font-family: A1MinChoStd;
            margin-bottom: 3.5rem;
            @include mobile {
                transform: translateY(0);
                font-size: 2.5rem;
            }
        }

        span:nth-of-type(2) {
            font-size: 2rem;
            font-family: 'Crimson Text', serif;
            margin-top: 3.5rem;
            @include mobile {
                transform: translateY(0);
                font-size: 1.4rem;
            }
        }

        hr {
            border: none;
            height: .1rem;
            width: 100%;
            background-image: linear-gradient(to left, white, rgba(white, 0));
            overflow: visible;
        }

        hr::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: .5rem;
            height: .5rem;
            background-color: white;
        }
    }
}

/* ============
        project-story
 ============*/
.project-story,
.work-style {
    width: 100%;
    min-height: 65rem;
    position: relative;
    margin-bottom: 8rem;
    display: block;

    @include ipadpro {
        min-height: 47rem;
        margin-bottom: 4rem;
    }

    @include mobile {
        min-height: 30rem;
    }

    .w-box {
        width: 100%;
        display: flex;
        position: relative;

        @include mobile {
            flex-wrap: wrap;
            padding: 0 2rem;
            flex-direction: column-reverse;
        }

        .under-bg {
            max-width: 112rem;
            height: 40rem;
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: -10rem;
            margin: 0 auto;

            @include mobile {
                height: 20rem;
            }
        }

        &-l {
            width: 100%;
            max-width: 65%;
            max-height: 48rem;
            overflow: hidden;

            @include mobile {
                max-width: 100%;
            }

            img {
                width: 100%;
            }
        }

        &-r {
            width: 100%;
            max-width: 35%;
            display: flex;
            
            @include mobile {
                max-width: 100%;
            }

            h2 {
                font-family: 'Crimson Text', serif;
                font-size: 8rem;
                color: $c-main-color;
                text-transform: uppercase;
                margin: auto 0;

                @include ipadpro {
                    font-size: 6rem;
                }

                @include mobile {
                    font-size: 3rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .rect-more-info {
        text-decoration: none;
        position: absolute;
        background-color: $c-dark-purple;
        color: white;
        border: .1rem solid $c-dark-purple;
        font-size: 1.6rem;

        @include mobile {
            width: auto;
            font-size: 1.4rem;
            position: static;
            margin: 1rem 2rem;
            // height: 6rem;
        }
    }

    .rect-more-info::after {
        border-color: white;
    }
}

.w-reverse {
    flex-direction: row-reverse;
}

.project-story {
    .w-box {
        &-r {
            padding-left: 2%;
            padding-right: 6rem;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            align-items: center;
            // max-width: 25%;
            @include mobile {
                position: unset;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .rect-more-info {
        right: 10rem;

        @include mobile {
            right: 0;
            left: 0;
        }
    }

    .rect-more-info:hover {
        background-color: rgba($c-main-color, .9);
    }

    .rect-more-info:nth-of-type(1) {
        bottom: 13rem;
    }

    .rect-more-info:nth-of-type(2) {
        bottom: 3rem;
    }

    .rect-more-info:nth-of-type(1)::before {
        content: '01';
        margin-right: 2rem;
    }

    .rect-more-info:nth-of-type(2)::before {
        content: '02';
        margin-right: 2rem;
    }

}

.work-style {
    .w-box {
        &-r {
            padding-left: 10rem;
            padding-right: 10rem;
            position: absolute;
            left: 10%;
            height: 100%;
            top: 0;
            bottom: 0;
            align-items: center;
            @include mobile {
                position: unset;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .rect-more-info {
        left: 0;
        margin-left: 15%;
        bottom: 13rem;

        @include mobile {
            bottom: 0;
            margin: 1rem 2rem;
        }
    }

    .rect-more-info:hover {
        background-color: rgba($c-main-color, .9);
    }
}

.under-bg {
    width: 100%;
    background-color: #e5e5e5;
}

/* ============
        more info button
 ============*/
.rect-more-info {
    width: 100%;
    max-width: 68rem;
    height: 8rem;
    display: flex;
    align-items: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    position: relative;
    transition: all .3s ease;

    @include ipadpro {
        height: 6rem;
    }

    @include mobile {
        max-width: 100%;
        padding-left: 2rem;
    }
}

.rect-more-info::after {
    content: '';
    width: 3rem;
    height: 1rem;
    position: absolute;
    border-bottom: .2rem solid;
    border-right: .4rem solid;
    transform: skew(45deg);
    right: 0;
    margin-right: 4rem;
    transition: all .3s ease;

    @include mobile {
        width: 2rem;
        height: .8rem;
    }
}

.rect-more-info:hover::after {
    margin-right: 2rem;
    @include mobile{
        margin-right: 3rem;
    }
}

/* ============
        interview
 ============*/
.interview {
    width: 100%;
    min-height: 63rem;
    position: relative;

    .under-bg {
        max-height: 47rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
        z-index: -1;

        @include mobile {
            margin: 3rem 0;
        }
    }

    .w-flex {
        .w-flex-middle {
            min-height: 60rem;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;

            @include mobile {
                min-height: 1rem;
            }

            span,
            p {
                display: block;
                width: 100%;
            }

            span {
                color: #666666;
                font-size: 1.6rem;

                @include mobile {
                    font-size: 1.4rem;
                    margin: 1rem 0;
                }
            }

            p {
                font-size: 2.4rem;
                font-weight: bold;
                color: #333333;

                @include mobile {
                    font-size: 1.6rem;
                }
            }

            h2 {
                font-size: 8rem;
                color: $c-main-color;
                text-transform: uppercase;
                font-family: 'Crimson Text', serif;
                margin-bottom: 1rem;

                @include mobile {
                    font-size: 3rem;
                }
            }

            .interview-more {
                color: $c-main-color;
                text-transform: uppercase;
                position: relative;
                font-size: 1.6rem;
                text-decoration: none;
                padding-bottom: 1rem;
                margin-top: 1rem;

            }

            .interview-more:after {
                content: '';
                width: 2rem;
                height: .2rem;
                background-color: $c-main-color;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .rect-more-info {
                text-decoration: none;
                margin-top: 10rem;
                background-color: white;
                color: $c-main-color;
                font-size: 2.4rem;
                font-weight: bold;
                overflow: hidden;
                border: .1rem solid white;

                @include mobile {
                    margin: 2rem 0;
                    font-size: 1.6rem;
                    border: .1rem solid #e5e5e5;
                }
            }

            .rect-more-info::after {
                border-color: $c-main-color;
            }

            .rect-more-info::before {
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
                position: absolute;
                transform: skew(45deg) translateX(-100rem);
                background-color: $c-main-color;
                transition: all .5s ease;
            }

            .rect-more-info:hover {
                border-color: $c-main-color;
            }

            .rect-more-info:hover::after {
                border-color: white;
            }

            .rect-more-info:hover::before {
                transform: skew(45deg) translateX(70%);
            }

            .interview-slide {
                width: 100%;
                height: 42rem;

                @include mobile {
                    min-height: 20rem;
                    overflow: hidden;

                    img {
                        height: 40rem;
                        object-fit: cover;
                    }
                }

                .slick-arrow {
                    border: .1rem solid $c-main-color;
                    background-color: $c-main-color;
                    color: white;
                    width: 5rem;
                    height: 5rem;
                    position: relative;
                    font-size: 2rem;
                    position: absolute;
                    left: 100%;
                    bottom: 0;
                    z-index: 1;
                    @media only screen and(max-width: 1240px){
                        left: unset;
                        right: 0;
                        bottom: 2rem;
                    }
                }

                .slick-next {
                    @include ipadpro {
                        transform: translateX(0%);
                    }
                }

                .slick-prev {
                    margin-bottom: .1rem;
                    transform: translateY(-100%);

                    @include ipadpro {
                        transform: translate(0%, -100%);
                    }
                }

                .slick-prev::after {
                    content: '\f104';
                    font-family: fontAwesome;
                }

                .slick-next::after {
                    content: '\f105';
                    font-family: fontAwesome;
                }

                .slider-count {
                    position: absolute;
                    display: inline-flex;
                    right: 1rem;
                    transform: translateY(50%);

                    @include mobile {
                        bottom: 0;
                        transform: translateY(30%);

                    }

                    span {
                        padding: 0 .4rem;
                        font-weight: bold;
                        font-size: 1.6rem;
                        display: flex;
                    }

                    span:nth-of-type(1) {
                        color: $c-main-color;
                    }
                    span:nth-of-type(2) {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
}

.w-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include ipadpro {
        padding: 0 2rem;
    }

    @include mobile {
        flex-wrap: wrap;

    }

    .w-flex-middle {
        width: 50%;
        max-width: 55rem;

        @include ipadpro {
            max-width: 49%;
        }

        @include mobile {
            max-width: 100%;
            width: 100%;
        }
    }
}

/* ============
        special
 ============*/
.special {
    position: relative;
    margin-top: 8rem;
    background-image: url(../images/img_special_content_00.jpg);
    height: 82rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

    @include mobile {
        height: auto;
    }

    .container {
        display: flex;
    }

    .w-flex {
        flex-wrap: wrap;
        @include mobile {
            display: block;
        }

        &-middle {
            margin-top: 2rem;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            @include mobile {
                max-width: 100%;
                margin-bottom: 2rem;
            }

            img {
                @include mobile {
                    height: 50%;
                    max-width: 100%;
                    object-fit: cover;
                }
            }

            .rect-more-info {
                background-color: white;
                font-size: 2rem;
                font-weight: bold;
                color: #333333;
                text-decoration: none;
            }

            .rect-more-info::before {
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                transform: skew(45deg) translateX(-100rem);
                background-color: $c-main-color;
                transition: all .5s ease;
            }
        }

        &-middle:hover {
            .rect-more-info{
                padding-left: 4rem;
            }
            .rect-more-info::after {
                color: white;
            }

            .rect-more-info::before {
                transform: skew(45deg) translateX(70%);
            }
            .special-play{
                i{
                    color: rgba($c-main-color, .8);
                }
            }
        }
    }
    &-play{
        position: absolute;
        top: 40%;
        left: 50%;
        width: 8rem;
        height: 8rem;
        font-size: 8rem;
        margin: auto;
        transform: translate(-50%, -50%);
        transition: all .5s ease;
        i{
            color: rgba(white, .6);
        }
    }
}

/* ============
        blog
 ============*/
.blog {
    width: 100%;
    margin-top: 8rem;

    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
        
        @include ipadpro {
            padding: 2rem;
            flex-wrap: wrap;
        }

        @include mobile {
            flex-wrap: wrap;
        }
    }

    &-item {
        width: 100%;
        max-width: 36rem;
        overflow: hidden;

        @include mobile {
            margin: 1rem auto;
        }

        a {
            color: $c-main-color;
            font-weight: bold;
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-decoration: none;
            display: block;
            span {
                color: #999999;
                margin-left: 1rem;
            }
        }

        h3 {
            font-size: 1.6rem;
            // font-weight: bold;
            letter-spacing: .1rem;
        }
    }

    &--more {
        width: 100%;
        max-width: 18rem;
        height: 5rem;
        border: .1rem solid #666666;
        text-transform: uppercase;
        text-decoration: none !important;
        color: #666666;
        text-align: center;
        display: block;
        margin: 3rem auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: all .5s ease;
    }

    &--more:hover {
        color: white;
    }

    &--more::after,
    &--more::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        z-index: -1;
        background-color: $c-main-color;
        transition: all .5s ease;
    }

    &--more::after {
        bottom: 0;
        left: 0;
        transform: translateX(200%);
    }

    &--more:hover::after {
        transform: translateX(0%);
    }

    &--more::before {
        top: 0;
        right: 0;
        transform: translateX(-200%);
    }

    &--more:hover::before {
        transform: translateX(0%);
    }
}

.blog--title {
    font-size: 6.4rem;
    text-transform: uppercase;
    color: $c-main-color;
    font-family: 'Crimson Text', serif;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 3rem;

    span {
        display: block;
        font-size: 2rem;
        color: $c-gray;
    }
}

/* ============
        recruit
 ============*/
// @keyframes zic-re {
//     0%, 100% {
//         right: -120%;
//         top: 0;
//     }
//     24%{
//         right: 120%;
//         top: 0;
//     }
//     25%{
//         right: 120%;
//         top:20%;
//     }
//     49% {
//         top:20%;
//         right: -120%;
//     }
//     50%{
//         right: -120%;
//         top: 40%;
//     }
//     74% {
//         top: 40%;
//         right: 120%;   
//     }
//     75%{
//         right: 120%;   
//         top: 60%;
//     }
//     99%{
//         right: -120%;
//         top: 60%;
//     }
// }
// @keyframes zic {
//     0%, 100% {
//         left: -120%;
//         top: 20%;
//     }
//     24%{
//         left: 120%;
//         top: 20%;
//     }
//     25%{
//         left: 120%;
//         top:40%;
//     }
//     49% {
//         top:40%;
//         left: -120%;
//     }
//     50%{
//         left: -120%;
//         top: 60%;
//     }
//     74% {
//         top: 60%;
//         left: 120%;   
//     }
//     75%{
//         left: 120%;   
//         top: 80%;
//     }
//     99%{
//         left: -120%;
//         top: 80%;
//     }
// }

.recruit {
    width: 100%;

    &-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        transition: all .3s ease;

        @include mobile {
            flex-wrap: wrap;
            padding: 2rem;
        }

        &-i {
            width: 100%;
            max-width: 25.6rem;
            min-height: 25.6rem;
            border-top: .5rem solid $c-main-color;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            flex-direction: column;
            overflow: hidden;
            transition: all .3s ease;
            position: relative;
            cursor: pointer;
            @include ipadpro {
                margin: 0 1rem;
            }

            @include mobile {
                //max-width: 100%;
                margin: 2rem auto;
            }

            h3 {
                color: #333333;
                font-weight: bold;
                font-size: 2rem;
                margin-top: 3rem
            }
        }

        &-i:hover {
            box-shadow: 0 1rem 2rem 0 rgba(black, .3);
            transform: scale(1.1);
        }

        &-i::after, &-i::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 50%;
            left: 0;
            background-color: $c-main-color;
            transition: all 1s ease;
        }
        &-i::after{
            transform: translateX(200%) skew(45deg);
            top:50%;
        }
        &-i::before{
            top: 0;
            transform: translateX(-200%) skew(45deg);
        }
        &-i:hover::after {
            transform: translateX(-150%) skew(45deg);
        }
        &-i:hover::before {
            transform: translateX(150%) skew(45deg);
        }
    }

}

/* ============
        footer
 ============*/
.footer {
    width: 100%;
    position: relative;

    .under-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;

        img {
            min-height: 46rem;
            object-fit: cover;
        }
    }

    .under-bg::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba($c-main-color, .8);
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .end-page {
        display: flex;
        // min-height: 10rem;
        //justify-content: space-between;
        //align-items: center;
        background-color: #002554;
        padding: 4.3rem 2rem;

        @media only screen and (max-width: 767px) {
            padding: 2rem 0;
            flex-direction: column;
        }

        a {
            margin: 0 2rem;
            text-decoration: none;
            color: white;
            position: relative;
            display: block;
            padding: 0 2rem;

            @media only screen and (max-width: 767px) {
                margin: 1rem 0;
            }
        }

        a>span {
            width: 1rem;
            height: 1rem;
            border: .1rem solid white;
            background-color: #002554;
            position: relative;
            display: inline-block;
            margin-left: 1rem;
        }

        a>span::after {
            content: '';
            width: 1rem;
            height: 1rem;
            border: .1rem solid white;
            position: absolute;
            right: 0;
            background-color: #002554;
        }

        a>span::after {
            transform: translate(.3rem, -.3rem);
        }

        .cpy-right {
            margin: auto 0 auto auto;
            font-size: 1.4rem;
            color: white;

            @media only screen and (max-width: 767px) {
                margin: 1rem 0;
                padding-left: 2rem;
            }
        }
    }
}

.entry-button {
    text-decoration: none !important;
    width: 100%;
    max-width: 36rem;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.4rem;
    color: white;
    border: .1rem solid #002554;
    font-weight: bold;
    text-transform: uppercase;
    margin: 9rem auto;
    position: relative;
    transition: all .5s ease;
    overflow: hidden;

    @include mobile {
        width: calc(100% - 40px);
    }
}

.entry-button::after,
.entry-button::before {
    content: '';
    position: absolute;
    background-color: #002554;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all .3s ease;
}

.entry-button::after {
    transform: skew(45deg);
}

.entry-button:hover {
    color: #002554;
}

.entry-button:hover::after {
    left: 120%;
}

.entry-button:hover::before {
    background-color: white;
}

/* ============
        top button
 ============*/
.to-top-button {
    position: fixed;
    bottom: 10rem;
    right: 4rem;
    width: 5rem;
    height: 5rem;
    border-bottom: .4rem solid $c-main-color;
    background-color: $c-main-color;
    display: none;
    justify-content: space-around;
    align-items: center;
    text-decoration: none !important;
    transition: .3s ease;

    i {
        display: block;
        font-size: 2.5rem;
        color: white;

    }
}

.to-top-button.active {
    display: flex;
}

.to-top-button:hover {
    background-color: white;

    i {
        color: $c-main-color;
    }
}